.separator {
  max-width: 750px;
  width: 100%;
  margin: 50px auto 10px auto;
}

.separator ~ .separator {
  margin: 60px auto 10px auto;
}

.separator h3 {
  font-size: 20px;
  color: #3399ff;
  padding: 0px 9px;
  flex-grow: 0;
  margin: auto
}

.separator .line {
  flex-grow: 3;
  height: 2px;
  margin-top: 5px;
  background-color: #a8a8a8;
}
