.testimonials {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

.testimonials .text {
  text-align: justify;
  line-height: 30px;
  font-size: 18px;
}

.testimonials .title {
  font-style: italic;
}
